# Xcode
build/
.build/
.derivedData/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/SwiftPM/configuration/control-cache
*.xcworkspace/xcshareddata/SwiftPM/configuration/remote-cache
UserInterfaceState.xcuserstate
$RECYCLE.BIN/
.claude/
Claude.md
build.log
REFLECTION-MODAL-MIGRATION-PLAN.md

checklist.md

# macOS
.DS_Store
.AppleDouble
.LSOverride
